<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/profil.css">

    <title>Profil</title>
</head>

<body>
    {{if .Username}}
    <header>
        <div class="navHeader">
            <div class="logoHome">
                <a href="/">Home</a>
            </div>
            <div>
                <a>Welcome {{.Username}}</a>
            </div>
            <div>
                <a href="/notification">Notif ({{.NbNotification}})</a>
                <a href="/profil">Profil</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </header>
    {{else}}
    <header>
        <div class="navHeader">
            <div class="logoHome">
                <a href="/">Home</a>
            </div>
            <div>
                <a>Guest</a>
            </div>
            <div>
                <a href="/logOrSign">Login</a>
            </div>
        </div>
    </header>
    {{end}}
    <main>
        <div id="mainSide">


            <div>
                <h1>Notification</h1>
            </div>

            <section class="sectionProfil">
                <div class="sousSectionProfil">
                    {{if not .Notification}}
                    <h2>You've no Notification</h2>
                    {{else}}
                    {{range .Notification}}
                    <a href="/SetNotifVu?id={{.ID}}&discussionId={{.Discussion_id}}">
                        <div class="souSouSectionProfil">
                            <div class="message">
                                <h4>message:</h4>
                                <p>{{.Message}}</p>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </a>
                </div>
            </section>
        </div>
    </main>
</body>

</html>