<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/profil.css">

    <title>Profil</title>
</head>

<body>
    {{if .Username}}
    <header>
        <div class="navHeader">
            <div class="logoHome">
                <a href="/">Home</a>
            </div>
            <div>
                <a>Welcome {{.Username}}</a>
            </div>
            <div>
                <a href="/notification">Notif ({{.NbNotification}})</a>
                <a href="/profil">Profil</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </header>
    {{else}}
    <header>
        <div class="navHeader">
            <div class="logoHome">
                <a href="/">Home</a>
            </div>
            <div>
                <a>Guest</a>
            </div>
            <div>
                <a href="/logOrSign">Login</a>
            </div>
        </div>
    </header>
    {{end}}
    <main>
        <div id="mainSide">


            <div>
                <h1>Bienvenue sur Votre Profil {{.Username}}</h1>
            </div>

            <section class="sectionProfil">
                <div>
                    <h2>PostCreated: </h2>
                </div>
                <div class="sousSectionProfil">
                    {{if not .DiscussionsCreated}}
                    <h2>You've created no discussion</h2>
                    {{else}}
                    {{range .DiscussionsCreated}}
                    <a href="/discussion/{{.ID}}">
                        <div class="souSouSectionProfil">
                            <div class="title">
                                <h4>titre:</h4>
                                <p>{{.Title}}</p>
                            </div>
                            <div class="username">
                                <h4>Username:</h4>
                                <p>{{.Username}}</p>
                            </div>
                            <div class="category">
                                <h4>categories:</h4>
                                <p>
                                    {{range .Category}}
                                    {{.}},
                                    {{end}}
                                </p>
                            </div>
                            <div class="message">
                                <h4>message:</h4>
                                <p>{{.Message}}</p>
                            </div>
                            <div class="nbLike">
                                <h4>👍</h4>
                                <p>{{.NumberLike}}</p>
                            </div>
                            <div class="nbDislike">
                                <h4>👎</h4>
                                <p>{{.NumberDislike}}</p>
                            </div>
                            <div class="nbComment">
                                <h4>💬</h4>
                                <p>{{.NumberComment}}</p>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </a>
                </div>
            </section>
            <section class="sectionProfil">
                <div>
                    <h2>CommentCreated: </h2>
                </div>
                <div class="sousSectionProfil">
                    {{if not .CommentCreated}}
                    <h2>You've written no comment</h2>
                    {{else}}
                    {{range .CommentCreated}}
                    <a href="/discussion/{{.ID}}">
                        <div class="souSouSectionProfil">
                            <div class="usernameComment">
                                <h4>Username:</h4>
                                <p>{{.Username}}</p>
                            </div>
                            <div class="messageComment">
                                <h4>message:</h4>
                                <p>{{.Message}}</p>
                            </div>
                            <div class="nbLike">
                                <h4>👍</h4>
                                <p>{{.NumberLike}}</p>
                            </div>
                            <div class="nbDislike">
                                <h4>👎</h4>
                                <p>{{.NumberDislike}}</p>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </a>
                </div>
            </section>
            <section class="sectionProfil">
                <div>
                    <h2>DiscussionLiked: </h2>
                </div>
                <div class="sousSectionProfil">
                    {{if not .DiscussionsLiked}}
                    <h2>You haven't liked any discussions</h2>
                    {{else}}
                    {{range .DiscussionsLiked}}
                    <a href="/discussion/{{.ID}}">
                        <div class="souSouSectionProfil">
                            <div class="title">
                                <h4>titre:</h4>
                                <p>{{.Title}}</p>
                            </div>
                            <div class="category">
                                <h4>categories:</h4>
                                <p>
                                    {{range .Category}}
                                    {{.}},
                                    {{end}}
                                </p>
                            </div>
                            <div class="message">
                                <h4>message:</h4>
                                <p>{{.Message}}</p>
                            </div>
                            <div class="nbLike">
                                <h4>👍</h4>
                                <p>{{.NumberLike}}</p>
                            </div>
                            <div class="nbDislike">
                                <h4>👎</h4>
                                <p>{{.NumberDislike}}</p>
                            </div>
                            <div class="nbComment">
                                <h4>💬</h4>
                                <p>{{.NumberComment}}</p>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </a>
                </div>

            </section>
            <section class="sectionProfil">
                <div>
                    <h2>CommentLiked: </h2>
                </div>
                <div class="sousSectionProfil">
                    {{if not .CommentLiked}}
                    <h2>You haven't liked any comment</h2>
                    {{else}}
                    {{range .CommentLiked}}
                    <a href="/discussion/{{.ID}}">
                        <div class="souSouSectionProfil">
                            <div class="usernameComment">
                                <h4>Username:</h4>
                                <p>{{.Username}}</p>
                            </div>
                            <div class="messageComment">
                                <h4>message:</h4>
                                <p>{{.Message}}</p>
                            </div>
                            <div class="nbLike">
                                <h4>👍</h4>
                                <p>{{.NumberLike}}</p>
                            </div>
                            <div class="nbDislike">
                                <h4>👎</h4>
                                <p>{{.NumberDislike}}</p>
                            </div>
                        </div>
                        {{end}}
                        {{end}}
                    </a>
                </div>
            </section>
            <!-- <section class="sectionProfil"></section>
            <section class="sectionProfil"></section> -->


        </div>
    </main>
</body>

</html>