<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/write_discussion.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <title>Write a Discussion</title>
</head>

<body>
    {{if .Username}}
    <header>
        <div class="navHeader">
            <div class="logoHome">
                <a href="/">Home</a>
            </div>
            <div>
                <a>Welcome {{.Username}}</a>
            </div>
            <div>
                <a href="/notification">Notif ({{.NbNotification}})</a>
                <a href="/profil">Profil</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </header>
    {{else}}
    <header>
        <div class="navHeader">
            <div class="logoHome">
                <a href="/">Home</a>
            </div>
            <div>
                <a>Guest</a>
            </div>
            <div>
                <a href="/logOrSign">Login</a>
            </div>
        </div>
    </header>
    {{end}}

    <main>
        <div class="container">
            <div id="title">
                <h1>Write a Discussion</h1>
            </div>
            <div>
                <form action="/create_discussion" method="post">
                    <div id="titleForDiscussion">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" value="{{.Title}}" required>
                    </div>
                    <div id="messageForDiscussion">
                        <label for="message">Message:</label>
                        <textarea id="message" name="message" required>{{.Message}}</textarea>
                    </div>
                    <div id="categoryChoose">
                        <div>
                            <label for="category">Category: </label>
                        </div>
                        <div id="checkboxCategory">
                            {{range .Category}}
                            <div>
                                <input type="checkbox" id="{{.Category}}" name="categories" value="{{.ID}}" />
                                <label for="{{.Category}}">{{.Category}}</label>
                            </div>
                            {{end}}
                        </div>

                        <!-- Ajoutez d'autres options de catégorie ici -->

                    </div>
                    <div>
                        <input type="submit" value="Create Discussion">
                    </div>
                    <div id="messageError">
                        <h2>{{.Error}}</h2>
                    </div>


                </form>
            </div>
        </div>
    </main>
</body>

</html>